.workSection {
  /* max-width: 1100px; */
  scroll-margin-top: 60px;
  margin: 0 auto 0 auto;
  padding: 48px 80px 100px 80px;
  color: #fff;
  
}

.title {
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 56px;
  letter-spacing: 1px;
}

.titleYellow {
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
  color: #ffe600;
}

.subtitle {
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  max-width: 980px;
  margin: 0 auto 88px auto;
  line-height: 1.48;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 2px;
  justify-items: center;
}

.card {
  position: relative;
  border-radius: 18px;
  min-width: 210px;
  max-width: 510px;
  height: 510px;
  width: 100%;
  background: linear-gradient( #9BD0FF2B 17%, #008BE7A1 63%, #122650);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 39px 39px 39px 39px;
}

.card:hover {
  background: linear-gradient(
    135deg,
    #0C8EFF2B 17%,
    #0A8CE2A1 63%,
    #20EAFE 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.559);
  transition: background 0.35s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  transform: translateY(-6px);
}

.cardInfo {
  margin-bottom: 15px;
}

.cardTitleYellow {
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
  color: #ffe600;
  font-size: 1.7rem;
  font-weight: 530;
  margin-bottom: 10px;
}

.cardDesc {
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
  color: #e8e8e8;
  font-size: 1.3rem;
}

.cardImage {
  display: block;
  max-width: 430px;
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
  margin: 12px auto 0 0;
  /* margin-top: 12px; */
}


@media (max-width: 1280px) {
  .workSection {
    padding: 48px 80px 100px 80px;
    background-image: url('/images/Backgrounds/bg-howwework-png.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  }

  .title {
    font-size: 2.8rem;
    margin-bottom: 50px;
  }

  .subtitle {
    font-size: 1.35rem;
    max-width: 900px;
    margin-bottom: 72px;
  }

  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px 24px;
  }

  .card {
    /* max-width: 480px; */
    height: 500px;
    padding: 25px;
  }

  .cardTitleYellow {
    font-size: 1.6rem;
  }

  .cardDesc {
    font-size: 1.15rem;
  }

  .cardImage {
    max-width: 100%;
    height: 100%;
  }
}


@media (max-width: 768px) {
  .workSection {
    padding: 40px 50px 70px 50px;
    background-image: url('/images/Tablet/How we work.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1rem;
    max-width: 100%;
  }

  .grid {
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 18px;
  }

  .card {
    
    height: 410px;
    padding: 15px;
  }

  .cardImage {
    max-width: 100%;
    height: 100%;
  }

  .cardTitleYellow {
    font-size: 1.35rem;
  }

  .cardDesc {
    font-size: 1rem;
  }
}



@media (max-width: 526px) {
  .workSection {
    padding: 32px 20px 60px 20px;
    background-image: url('/images/mobile/How we work.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .title {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }

  .subtitle {
    font-size: 1rem;
    margin-bottom: 32px;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .card {
    padding: 22px ;
    border-radius: 14px;
  }

  .cardTitleYellow {
    font-size: 1.35rem;
  }

  .cardDesc {
    font-size: 1rem;
  }

  .cardImage {
    height: 275px;
  }
}


